* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  min-width: 250px;
  color: #fff;
}

footer {
  width: 100%;
  max-width: 1920px;
  padding: 1.25rem;
  text-align: center;
  background-color: #000;
}

footer > * {
  margin: 1.75rem 0;
}

h3 {
  font-size: 2.75rem;
}

p {
  font-size: 1.25rem;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

a {
  margin: 0.75rem;
  font-size: 2rem;
  color: inherit;
}

a:hover {
  color: #1e90ff;
}

p:last-child {
  margin-top: 4.5rem;
  color: #d3d3d3;
}
