* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.75;
    text-align: center;
    font-family: sans-serif;
    background-color: #065206; 
}

h1 {
    font-size: 5rem;
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #016f32;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    background-color: goldenrod;
}